<%# Begin tablesorter Javascript code #%>
<script>
$(function(){
  $("#sortedTable").tablesorter();
});
</script>
<%# End tablesorter Javascript code #%>

<h1>Menu</h1>
<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
  <li class="nav-item">
    <%= link_to section.name, menu_path(section: section.name),
                class: "nav-link #{'active' if params[:section] == section.name}" %>
  </li>
  <% end %>
</ul>

<% if @section %>
  <table id="sortedTable">
    <thead>
      <tr>
        <th>Dish Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
    <% @section.food_items.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.description %></td>
      <td><%= food.price %></td>
      <td><%= image_tag(food.show_image_url) %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
