<p>
  <strong>Name: </strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @order.food_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.food_item.price %>
</p>

<p>
  <strong>Shipping: 20,000</strong>
</p>
