<h1>Thank you for your order</h1>
<p>
  <strong>Name: </strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @order.food_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.food_item.price %>
</p>

<p>
  <strong>Shipping: </strong>20,000
</p>
<p>
  <strong>Total Price: </strong> <%= @order.food_item.price + 20000 %>
</p>

<p>
  <strong>Order created at: </strong><%= time_ago_in_words(@order.created_at) %>
</p>
