    <tr>
      <td><%= link_to food_item.name, food_items_path+"/#{food_item.id}" %></td>
      <td><%= food_item.price %></td>
      <td><%= image_tag(food_item.show_image_url,height: '100') %></td>
      <td><%= link_to "Order", new_food_item_order_path(food_item.id), class: "btn btn-primary" %></td>
      <td><%= food_item.orders.size %></td>
    </tr>
